@model Czytamy.pl.Models.AuthorDeteilsViewModel

@{
    ViewBag.Title = "Details";
}

<div id="details_box">
    <img src=@Model.Author.PhotoPath id="book_cover" height="350" width="245" />

    <div id="book_details" style="width: 745px">
        <div id="book_title">
            @Model.Author.Name @Model.Author.Surname
        </div>

        <div id="numberBooks">
            <i class="demo-icon icon-book" style="color: #FF6700"></i>
            @Model.Books.Count() książek
        </div>

        <hr />

        <ul style="font-size: 19px">
            <li>piszę książki: </li>
            @foreach (var item in ViewBag.Categories)
            {
                <li> @item,</li>
            }
            <li class="clear"></li>

            @if (Model.Author.Web_site != null)
            {
                <li>Strona www: <a href=@Model.Author.Web_site>@Model.Author.Web_site</a></li>
                <li class="clear"></li>
            }

            @if (Model.Author.Birth_date != null)
            {
                <li>Urodzony: @Html.DisplayFor(model => model.Author.Birth_date)</li>
                <li class="clear"></li>
            }


            @if (Model.Author.Death_date != null)
            {
                <li>Zmarły: @Html.DisplayFor(model => model.Author.Death_date)</li>
                <li class="clear"></li>
            }
        </ul>
    </div>
    <div class="clear"></div>
    <hr style="margin: 20px 0"/>
    <div style="font-size: 19px">
        @Model.Author.Description
    </div>
   @Html.Partial("DetailsAdminButtons", Model.Author.ID)
</div>

<div class="details_list_title">
    Wszyskie książki
</div>

<hr class="main" style="margin-bottom: 30px"/>

<div id="details_book_list">
    @Html.Partial("BookList", Model.Books)
</div>